
body {
  padding-top: 6rem;
  color: #5a5a5a;
}

#logo{
  font-family: Abril Fatface;
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
}

#search{
  border-radius: 15px;
  width: 300px;
}
#search2{
  border-radius: 6px;
  width: 100%;
}
.nav-item{
  margin: 0px 0px;
}
.user{
  padding: 0px 15px;
  border-radius: 100%;
  color: whitesmoke;
}

/*Part main css*/

#border_main{
  border-right: #6f6c6c52 2px solid;
  border-left: #6f6c6c52 2px solid;
}
#main{
  margin: 50px;
}
p{
  margin: 0px;
}
h2{
  padding-bottom: 40px;
  text-decoration: underline;
}
tr, td{
	padding: 0px 10px;
}
table{
	display: flex;
    align-items: center;
}
#new_post{
  border: #6f6c6c52 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin-left: 25px;
}
.post{
  border: #6f6c6c52 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 25px;
  width: 100%;
  padding: 8px 0px;
}
.thumb {
  border-radius: 100%;
  background-color: #3e3e3e;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*Footer css*/

#footer{
  text-align: center;
  color: #ffffff;
  background-color: #736f6f;
  margin-top: 95px;
  display: block;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 4rem 0;
 /* Space out the Bootstrap <hr> more */
}
#phienhoidap{
  margin: 0.5rem 0;
}
#sp{
  max-width: 250px;
  border-top: solid 5px;
  text-align: center;
  font-size: 300px;
  margin: 25px auto 30px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
