body, html {
    height: 100%;
}
.title{
	font-size: 40px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.428571429;
    color: #333333;
}

/*Css cho phan Signin1*/
#quenmatkhau{
	float: right;
}
#facebook{
	background-color: #4267b2;
}
#google{
	background-color: #EA4335;
}