<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Hiển thị phiếu khảo sát</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS tự định nghĩa -->

<body style="background-color: #EEEEEE">

  <!-- HEADER -->
  <header>

    <!--Navbars -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a id="logo" class="navbar-brand" href="/home">Q&A</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/support">Trợ giúp</a>
          </li>
        </ul>

        
        <ul class="navbar-nav" style="display: contents;">
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="./images/icons/bell.jpg" width="40" height="40" style="border-radius: 100%"></a>
          </li>
          <li>
            <div class="thumb" style="background-image:url(./images/soccer.jpg);width: 40px;height: 40px"></div>
          </li>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: whitesmoke" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Việt Cường</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/yourprofile">Quản lý tài khoản</a>
              <a class="dropdown-item" href="/signin">Đăng xuất</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main role="main">
    <div class="container marketing">
      <br>
      <div class="card">
        <div class="card-header" style="background-color: #00cccc">
          <h5><b>Phiếu khảo sát</b></h5>
        </div>
        <div class="card-body">
          <div class="row padding">
            <div class="col-3 col-sm-2 col-md-2">
              <div class="card">
                <img class="card-img-top" src="./images/logo.png">
              </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9">
              <div class="card-body">
                <h4 class="card-title">Khảo sát năng lực lập trình của sinh viên</h4>
                <p class="card-text">Mô tả: Khảo sát kĩ năng lập trình các ngôn ngữ C, C++, Java,...<br>
                  Đăng bởi: <a href="/teacher_manage">Nguyễn Việt Anh</a><br>
                  Thời gian tạo: 1 tháng trước
                </p>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <div class="card">
        <div class="card-header" style="background-color: #00cccc">
          <h5><b>Đăng bởi: <a href="/teacher_manage">Nguyễn Việt Anh</a></b></h5>
        </div>
        <div class="card-body">
          <a href="/survey" style="margin-left: 0%;" type="button" class="btn btn-info">Trở về danh sách phiếu</a><br><br>

          <div class="card">
            <div class="card-header" style="background-color: #99ccff">
             <h6><b>Danh sách phiếu khảo sát</b></h6>
           </div>

           <!-- Hiển thị phiếu khảo sát -->
           <div class="card-body">
            <div class="form-group" >
              <p>
                <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Khảo sát về cuộc sống thường ngày
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="accordion" id="accordionExample">
                    <div class="card" >
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Trắc nghiệm 1:
                          </button>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          <b>Bạn có thích mình không ^^</b> <br>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Mình thích bạn lắm <3
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Mình đéo thích bạn đâu !!
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Trắc nghiệm 2:
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          <b>Bạn thấy mình như thế nào ??</b> <br>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Đẹp trai, tốt bụng.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Xấu xí, lười biếng.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Đẹp trai, lười biếng.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Xấu xí, tốt bụng.
                            </label>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Trắc nghiệm 3:
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          <b>Thời tiết hôm nay thế nào ??</b> <br>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Trời nắng, ít mây.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Trời nhiều mây, mưa rải rác.
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Trời đẹp, không nắng, ít mây.
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Thêm câu hỏi  -->      
            <hr id = "phienhoidap" class="featurette-divider">

            <a href="" style="margin-left: 0%;" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#2" aria-expanded="false" aria-controls="2">Thêm câu hỏi</a><br>

            <div class="form-group" >
              <p>
              </p>
              <div class="collapse" id="2">
                <p>
                  <div class="row">
                    <div class="col-6 col-sm-6 col-md-3">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
                          Trắc nghiệm
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" data-toggle="collapse" href="#TN1" role="button" aria-expanded="false" aria-controls="TN1">Trắc nghiệm 1 đáp án</a>
                          <a class="dropdown-item" data-toggle="collapse" href="#TN2" role="button" aria-expanded="false" aria-controls="TN2">Trắc nghiệm đúng/sai</a>
                          <a class="dropdown-item" data-toggle="collapse" href="#TN3" role="button" aria-expanded="false" aria-controls="TN3">Trắc nghiệm nhiều đáp án</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#3" aria-expanded="false" aria-controls="3" style="width: 100%;">Tự luận</button>
                    </div>
                  </div>
                </p>

                <!-- Trắc nghiệm 1 -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="collapse multi-collapse" id="TN1">
                      <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Số câu hỏi">
                      <div class="card card-body">
                        <div class="accordion" id="accordionExampleTN1">
                          <div class="card" >
                            <div class="card-header" id="headingOneTN1">

                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneTN1" aria-expanded="false" aria-controls="collapseOneTN1">
                                Câu hỏi 1:
                              </button>
                              <a href="#">
                                <img src="./images/icons/next.png" width="30" height="30">
                              </a>
                            </div>

                            <div id="collapseOneTN1" class="collapse" aria-labelledby="headingOneTN1" data-parent="#accordionExampleTN1">
                              <div class="card-body">
                                <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px;" placeholder="Nội dung câu hỏi...">
                                <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Số đáp án">
                                <a href="#">
                                  <img src="./images/icons/back.png" width="30" height="30">
                                </a>
                                <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 10px;" placeholder="Đáp án">
                                <a href="#">
                                  <img src="./images/icons/next.png" width="30" height="30">
                                </a>
                                <button type="submit" style="border-radius: 5px; float: right;">Xong</button>
                              </div>
                            </div>
                          </div>
                        </div><br>
                        <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
                        </button>
                      </div>
                    </div>
                  </div><br>

                  <!-- Tự luận -->
                  <div class="col-md-6">
                    <div class="collapse multi-collapse" id="3">
                      <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Số câu hỏi">
                      <div class="card card-body">
                        <div class="accordion" id="accordionExample3">
                          <div class="card" >
                            <div class="card-header" id="headingOne3">

                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="false" aria-controls="collapseOne3">
                                Câu hỏi 1:
                              </button>
                              <a href="#">
                                <img src="./images/icons/next.png" width="30" height="30">
                              </a>

                            </div>

                            <div id="collapseOne3" class="collapse" aria-labelledby="headingOne3" data-parent="#accordionExample3">
                              <div class="card-body">
                                <textarea class="col-md-10" rows = "3" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px;" placeholder="Nội dung câu hỏi..."></textarea>
                                <button type="submit" style="border-radius: 5px; float: right;">Xong</button>
                              </div>
                            </div>
                          </div>
                        </div><br>
                        <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Trắc nghiệm 2 -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="collapse multi-collapse" id="TN2">
                      <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Số câu hỏi">
                      <div class="card card-body">
                        <div class="accordion" id="accordionExampleTN2">
                          <div class="card" >
                            <div class="card-header" id="headingOneTN2">

                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneTN2" aria-expanded="false" aria-controls="collapseOneTN2">
                                Câu hỏi 1:
                              </button>
                              <a href="#">
                                <img src="./images/icons/next.png" width="30" height="30">
                              </a>
                            </div>

                            <div id="collapseOneTN2" class="collapse" aria-labelledby="headingOneTN2" data-parent="#accordionExampleTN2">
                              <div class="card-body">
                                <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px;" placeholder="Nội dung câu hỏi..."><br>
                                <a href="#">
                                  <img src="./images/icons/back.png" width="30" height="30">
                                </a>
                                <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 10px;" placeholder="Đáp án">
                                <a href="#">
                                  <img src="./images/icons/next.png" width="30" height="30">
                                </a>
                                <button type="submit" style="border-radius: 5px; float: right;">Xong</button>
                              </div>
                            </div>
                          </div>
                        </div><br>
                        <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
                        </button>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Trắc nghiệm 3 -->
                  <div class="col-md-6">
                    <div class="collapse multi-collapse" id="TN3">
                      <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Số câu hỏi">
                      <div class="card card-body">
                        <div class="accordion" id="accordionExampleTN3">
                          <div class="card" >
                            <div class="card-header" id="headingOneTN3">

                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOneTN3" aria-expanded="false" aria-controls="collapseOneTN3">
                                Câu hỏi 1:
                              </button>
                              <a href="#">
                                <img src="./images/icons/next.png" width="30" height="30">
                              </a>
                            </div>

                            <div id="collapseOneTN3" class="collapse" aria-labelledby="headingOneTN3" data-parent="#accordionExampleTN3">
                              <div class="card-body">
                                <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px;" placeholder="Nội dung câu hỏi...">
                                <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Số đáp án">
                                <a href="#">
                                  <img src="./images/icons/back.png" width="30" height="30">
                                </a>
                                <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 10px;" placeholder="Đáp án">
                                <a href="#">
                                  <img src="./images/icons/next.png" width="30" height="30">
                                </a>
                                <button type="submit" style="border-radius: 5px; float: right;">Xong</button>
                              </div>
                            </div>
                          </div>
                        </div><br>
                        <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>         
    </div>

    <p style="padding-top: 50px; float: right;"><a href="#">Back to top</a></p>
  </div>
</main>        
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>

    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer> 
</body>
</html>