<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Hỗ trợ</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS tự định nghĩa -->

<body>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <h3>ĐIỀU KHOẢN DỊCH VỤ CỦA Q&A</h3>
          <hr id = "sp" class="star-primary">
        </div>
      </div><br>
      <div class="row" >
        <div class="col-1 col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-10 col-sm-10 col-md-8 col-lg-8">
          <b><h5>Chào mừng bạn đã đến với Q&A!</h5></b><br>

          - Cảm ơn bạn đã sử dụng các sản phẩm và dịch vụ của chúng tôi. Dịch vụ được cung cấp bởi Nhóm 05 (Web) có trụ sở tại Trường ĐH Công Nghệ - ĐH Quốc Gia Hà Nội.<br>
          - Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý với các điều khoản này. Vui lòng đọc kỹ các điều khoản này.<br><br>

          <b><h5>Sử dụng dịch vụ của chúng tôi</h5></b><br>

          - Bạn phải tuân thủ mọi chính sách đã cung cấp cho bạn trong phạm vi Dịch vụ.<br>
          - Không được sử dụng trái phép Dịch vụ của chúng tôi. Ví dụ: không được gây trở ngại cho Dịch vụ của chúng tôi hoặc tìm cách truy cập chúng bằng phương pháp nào đó không thông qua giao diện và hướng dẫn mà chúng tôi cung cấp.<br>
          - Việc bạn sử dụng Dịch vụ của chúng tôi không có nghĩa là bạn được sở hữu bất cứ các quyền sở hữu trí tuệ nào đối với Dịch vụ của chúng tôi hoặc nội dung mà bạn truy cập.<br><br>

          <b><h5>Tài khoản Q&A của bạn</h5></b><br>

          - Bạn có thể cần có Tài khoản Google hoặc Facebook để sử dụng một số Dịch vụ của chúng tôi.<br>
          - Để bảo vệ Tài khoản Q&A của bạn, hãy giữ bí mật mật khẩu của bạn. Bạn chịu trách nhiệm đối với hoạt động xảy ra trên hoặc thông qua Tài khoản Q&A của bạn. Cố gắng không sử dụng lại mật khẩu Tài khoản Q&A của bạn trên các ứng dụng của bên thứ ba.<br><br>

          <b><h5>Bảo vệ sự riêng tư và bản quyền</h5></b><br>

          - Chính sách của Q&A về sự riêng tư giải thích cách chúng tôi xử lý dữ liệu cá nhân của bạn và bảo vệ sự riêng tư của bạn khi bạn sử dụng Dịch vụ của chúng tôi. Bằng việc sử dụng Dịch vụ của chúng tôi, bạn đang đồng ý rằng Q&A có thể những sử dụng dữ liệu đó theo chính sách của chúng tôi về sự riêng tư.<br>
          - Chúng tôi cung cấp thông tin giúp chủ sở hữu bản quyền quản lý các sở hữu trí tuệ của họ trên mạng. Nếu bạn cho rằng ai đó đang vi phạm bản quyền của bạn và bạn muốn thông báo cho chúng tôi, bạn có thể gửi phản hồi về địa chỉ: <a class="linkNormal" href="https://gmail.com" target="_blank">nhom05@gmail.com
          </a>.<br><br>

          <b><h5>Sửa đổi và chấm dứt sử dụng Q&A</h5></b><br>

          - Chúng tôi không ngừng thay đổi và cải tiến Dịch vụ của mình. Chúng tôi có thể thêm hoặc xóa các chức năng hoặc tính năng và chúng tôi cũng có thể tạm ngừng hoặc ngừng hoàn toàn một Dịch vụ.<br>
          - Bạn có thể ngừng sử dụng Dịch vụ của chúng tôi bất kỳ lúc nào, mặc dù chúng tôi sẽ rất tiếc khi bạn không còn sử dụng Dịch vụ của chúng tôi nữa. Q&A cũng có thể ngừng cung cấp Dịch vụ cho bạn hay thêm hoặc tạo ra những giới hạn mới cho Dịch vụ của chúng tôi bất kỳ lúc nào.<br>
          - Chúng tôi tin rằng bạn sở hữu dữ liệu của bạn và việc bảo toàn quyền truy cập của bạn đối với dữ liệu đó là điều quan trọng. Nếu chúng tôi ngừng một Dịch vụ nào đó, khi khả thi và hợp lý, chúng tôi sẽ cung cấp cho bạn thông báo trước hợp lý và cơ hội để đưa thông tin ra khỏi Dịch vụ đó.<br><br>

          <b><h5>Cuối cùng chúng tôi xin chúc các bạn có được trải nghiệm tuyệt vời tại trang web của chúng tôi!</h5></b>
          <br><br>
          <a href="/signin" style="float: right;">Quay lại đăng ký</a>
          <br><br><br>
        </div>
      </div>
      
    </div>
  </main>
</body>
</html>