<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./bootstrap-4.3.1/bootstrap.min.css">
  <link rel="stylesheet" href="signin.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!--   <link rel="stylesheet" href="index&content.css"> -->


  <title>Đăng ký</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./bootstrap-4.3.1/bootstrap.min.js"></script>
  <script src="./bootstrap-4.3.1/jquery-3.2.1.min.js"></script>
  <script src="./bootstrap-4.3.1/bootstrap-4.0.0.min.js"></script>
</head>

<body class="hero-image" >
  <header>
    <div class="pt-0 text-center">
    <img src="./images/logo.png" style="width: 200px; height:auto;"></div>
  </header>
  <main>
    <div class="container my-3">  
    <div id="white" class="border" style="border-radius: 10px;">
    <div id="orange" class="panel-heading p-4 white-text text-center" style="color: "><h3>Đăng ký tài khoản</h3></div>
  
    
    <form >
      <div class="form-group">
        <div class="form-group now">  
        
        <!-- Hàng 1 -->
        <div class="row pt-3">
          <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2 text-right">
          <label for="InputName" class="col-form-label">Tên:</label></div>
          <div class="col-6 col-sm-6 col-md-4 col-xl-4 col-lg-4">
          <input type="text" class="form-control" id="InputName" placeholder="Nhập tên...">
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-xl-1 col-lg-1 text-right">
          <label for="InputAge" class="col-form-label">Tuổi:</label></div>
          <div class="col-3 col-sm-3 col-md-2 col-xl-2 col-lg-2">
          <input type="number" class="form-control" id="InputAge" placeholder="">
          </div>
        </div>
        <!-- Hàng 2 -->  
        <div class="row pt-3">
          <div class="col-2 col-md-2 col-md-2 col-xl-2 col-lg-2 text-right">
          <label for="InputName" class="col-form-label">Email:</label></div>
          <div class="col-6 col-md-4 col-xl-4 col-lg-4">
          <input type="text" class="form-control" id="InputName" placeholder="Nhập email...">
          </div>
        </div>
        <!-- Hàng 3 -->  
        <div class="row pt-3">  
          <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2 text-right">
          <label for="InputPhoneNum" class="col-form-label d-inline">Điện thoại:</label></div>
          <div class="col-6 col-sm-6 col-md-3 col-xl-3 col-lg-3">
          <input type="text" class="form-control" id="InputPhoneNum" placeholder="">
          </div>
        </div>
        <!-- Hàng 4 -->  
        <div class="row pt-3">  
          <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2 text-right">
          <label for="InputPhoneNum" class="col-form-label d-inline">Mật khẩu:</label></div>
          <div class="col-4 col-sm-4 col-md-3 col-xl-3 col-lg-3">
          <input type="text" class="form-control" id="InputPhoneNum" placeholder="">
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-xl-2 col-lg-2 text-right">
          <label for="InputPhoneNum" class="col-form-label d-inline">Nhập lại mật khẩu:</label></div>
          <div class="col-4 col-sm-4 col-md-3 col-xl-3 col-lg-3">
          <input type="text" class="form-control" id="InputPhoneNum" placeholder="">
          </div>
        </div>
        <!-- Hàng 5 -->  
        <div class="row pt-3">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
          <div class="form-check">
            
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label d-inline" for="exampleRadios1">
              Tôi đồng ý với <a class="orange" href="">các điều khoản</a> của Q&A.
            </label>
            </div>
          </div>
        </div>
       

        </div>
      </div>
      <!-- Hàng 6 -->  
      <div class="row py-3  justify-content-center">
        <input type="button" class="btn btn-success px-5 round-button" value="Đăng ký" onclick="window.location.href='index.html'"/>
      </div>
    </form>
      
    </div>
    </div><br><br>
    <div class="container">
    <a href="/login" style="float: right;">Quay lại đăng nhập</a>
	</div>
    <br><br><br>
  </main>

</body>
</html>