<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Hỗ trợ</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS tự định nghĩa -->

<body>
  <main>
    <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <h3>HƯỚNG DẪN SỬ DỤNG TRANG WEB Q&A</h3>
                    <hr id = "sp" class="star-primary">
                </div>
            </div><br>
              <div class="row" >
                <div class="col-1 col-sm-1 col-md-2 col-lg-2"></div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8">

                    - Hệ thống hỏi và đáp Q&A (nhóm 05) là hệ thống cho phép chủ tọa tạo ra các phiên hỏi đáp liên quan đến các chủ đề khác nhau trong công việc, học tập, giảng dạy rồi các thành viên có thể đặt câu hỏi cho phiên hỏi đáp đã tạo đó, như một diễn đàn trao đổi thông tin. Ngoài ra chủ tọa có thể tạo cái phiếu khảo sát để khảo sát người dùng về một lĩnh vực nào đó.
                    <br><br>
                    <b>1. Hướng dẫn dành cho thành viên mới:</b>

                    <br><br>

                    - Để sử dụng hệ thống thì người dùng cần phải đăng nhập hoặc đăng ký nếu chưa có tài khoản. Ngoài ra hệ thống còn hỗ trợ đăng nhập bằng Facebook hoặc tài khoản Google thuận tiện cho người sử dụng.

                    <br>

                    - Trang chủ của hệ thống hiển thị các phiên hỏi đáp, người dùng có thể chọn phiên hỏi đáp mong muốn. Mật khẩu tham gia phiên hỏi đáp được cấp bởi người chủ tọa của phiên đó.

                    <br>

                    - Với lần đầu đăng nhập hệ thống, người dùng có thể cung cấp các thông tin cá nhân cơ bản như Họ và tên, địa chỉ email...

                    <br>

                    - Để xem thông tin cá nhân, người dùng nhấn biểu tượng người dùng ở góc phải của menu, và lựa chọn chức năng "Quản lý tài khoản". Tại đây người dùng có thể xem và cập nhật thông tin cá nhân của mình, ngoài ra tại đây còn hiển thị các phiên hỏi đáp và các phiếu khảo sát mà người dùng đã tham gia.

                    <br>

                    - Tại trang chủ của hệ thống, là thông tin về phiên hỏi đáp và phiếu khảo sát(đang hoạt động hoặc đã đóng).

                    <br>

                    - Tất cả danh sách hiển thị trong hệ thống đều hỗ trợ tìm kiếm, để tìm nội dung, người dùng nhập vào khung tìm kiếm rồi nhấn phím Enter hoặc sử dụng nút "Search".

                    <br><br>

                    <b>2. Các bước đặt câu hỏi:</b>

                    <br><br>

                    - Bước 1: Tại trang chủ của phiên hỏi đáp, người dùng có thể đặt câu hỏi trực tiếp trên đây bằng cách nhập câu hỏi vào ô "Đặt câu hỏi" và bấm Enter.

                    <br>

                    - Bước 2: Sau khi nhập và bấm "Gửi", câu hỏi vừa nhập sẽ được hiện lên đầu danh sách câu hỏi.

                    <br><br>

                    <b>3. Các bước trả lời câu hỏi và phản hồi câu trả lời:</b>

                    <br><br>

                    - Bước 1: Tại danh sách câu hỏi của phiên hỏi đáp, chọn câu hỏi để xem nội dung chi tiết.

                    <br>

                    - Bước 2: Để bình chọn câu hỏi, nhấn "Thích". 

                    <br>

                    - Bước 3: Để trả lời câu hỏi, nhấn "Bình luận".

                    <br>

                    - Bước 4: Hoàn thành form nhập nội dung câu trả lời và nhấn "Gửi" để xác nhận.

                    <br>

                    - Bước 5: Để phản hồi về câu trả lời nhấn phím "Trả lời" ở bên dưới nội dung câu trả lời.

                    <br><br>

                    <b>4. Các bước khảo sát ý kiến và xem kết quả khảo sát:</b>

                    <br><br>

                    - Bước 1: Chọn "Danh sách lựa chọn", chọn tiếp "Danh sách phiếu khảo sát" trên thanh chức năng của phiên hỏi đáp.

                    <br>

                    - Bước 2: Click vào 1 phiếu khảo sát quan tâm, sau đó click tiếp vào nội dung phiếu khảo sát.

                    <br>

                    - Bước 3: Hoàn thành nội dung các câu hỏi khảo sát của phiên hỏi đáp và nhấn "Kết thúc khảo sát" để lưu kết quả.

                    <br>

                    - Bước 4: Để xem kết quả khảo sát ý kiến của toàn bộ người dùng tham gia khảo sát, nhấn "Xem thống kê kết quả".

                    <br><br>
                    <b>5. Lời kết</b>

                    <br><br>

                    Do Q&A (nhóm 05) là hệ thống đang trong quá trình phát triển nên không thể tránh được lỗi và thiếu xót. Trong quá trình sử dụng, nếu người dùng có bất kì góp ý nào về hệ thống này, vui lòng gửi lời nhắn vào địa chỉ email 
                    <a class="linkNormal" href="https://gmail.com" target="_blank">nhom05@gmail.com
                    </a>. Rất mong nhận được sự góp ý phản hồi của tất cả người dùng...

                    <br>
                    <br>

                    Cảm ơn vì đã sử dụng hệ thống của chúng tôi!
                    <br><br>
                    <a href="/home" style="float: right;">Quay lại trang chủ</a>
                    <br><br>
                  </div>
                </div>
                    
    </div>
  </main>
</body>
</html>