<!DOCTYPE HTML>
<html lang="en">
<!-- HEAD -->
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="/bootstrap/bootstrap-4.0.0.min.js">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">


  <title>Trang chủ</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Xử lý Navigation -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<!-- BODY -->
  <body>




    <!-- MAIN -->
<main class="pt-5">




</main>

<!-- FOOTER -->
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>
    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer>




</body>
</html>
