<!-- HEADER -->
  <header>

    <!--Navbars -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a id="logo" class="navbar-brand" href="/home">Q&A</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home"><ion-icon name="home" style = "font-size: 15px;"></ion-icon> Trang chủ <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/support">Trợ giúp</a>
          </li>
        </ul>

        <% if (session.username) {%>
        <ul class="navbar-nav" style="display: contents;">
          <li class="nav-item">
            <a class="nav-link" href="/thongbao"><img src="/images/icons/bell.jpg" width="40" height="40" style="border-radius: 100%"><span class="badge badge-danger"><%=session.tbao%></span></a>
          </li>
          <li>
          <%if(session.password.length>30){%>
            <div class="thumb" style="background-image:url(<%=session.password%>);width: 40px;height: 40px"></div>
            <%} else{%>
            <%if(session.isadmin){%>
            <div class="thumb" style="background-image:url(/images/avatar2.jpg );width: 40px;height: 40px"></div>
            <%}%>
            <%if(!session.isadmin){%>
            <div class="thumb" style="background-image:url(/images/avatar1.png );width: 40px;height: 40px"></div>
            <%}%>
          <%}%>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: whitesmoke" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=session.name%> </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/yourprofile?id=<%=session.user_id%>">Quản lý</a>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#UserModal">Cập nhật thông tin</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
        </ul>
        <%} else {%>
  <ul class="navbar-nav" style="display: contents;">
          <li class="nav-item">
            <a class="nav-link" href="/login"><Đăng nhập</a>
          </li>
        </ul>
        <%}%>
      </div>
    </nav>
  </header>