<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="signin.css">
<!--   <link rel="stylesheet" href="index&content.css"> -->


  <title>Đăng nhập</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="./bootstrap/jquery-3.2.1.min.js"></script>
  <script src="./bootstrap/bootstrap.min.js"></script>
 
  <script src="./bootstrap/bootstrap-4.0.0.min.js"></script>
  <script>
window.history.pushState("", "", '/login');
</script>
</head>

<body class="hero-image" style="background-color: #eeeeee">
<main>
  <div class="container" style="padding-top: 80px;">  
    <div id="white" class="border" style="border-radius: 10px; background-color: white;">
    <div class="row py-4">
    
      <!-- Cột 1 -->
      <div class="col-12 col-md-6 col-xl-6 col-lg-6 d-md-block d-sm-none d-none border-right">
        <div class="text-center pt-5">
          <img src="./images/logo.png" style="width: auto; height: 203px;">
          <br>
          <br>
          <input type="button" class="btn btn-success px-5 round-button" value="Đăng ký ngay" onclick="window.location.href='/signin'"/>
          <br>
        </div>
      </div>

     
      <!-- Cột 2-->
      <div class="col-md-6 col-xl-6 col-lg-6">
        <div class="row py-4">
        <div class="col-1 col-sm-1 col-md-3"></div>
        <div class="col-10 col-sm-10 col-md-6">

        <div class="box-container box-middle box-space-around box-row-wrap">
          <div class="box-md-40 box-sm-80 box-xs-100">
            <div class="d-md-none d-xl-none d-lg-none text-center">
              <img src="./images/logo.png" style="width: auto; height: 100px;">
            </div>
            <div class="text-center">
              <h1 class="title orange">
                Đăng nhập
              </h1>
            </div>
          </div>
        </div>

        <div class="box-container box-top box-space-around box-row-wrap">
          <div class="box-md-68 box-sm-80 box-xs-100">
            <div class="box-container box-top box-space-around box-row-wrap box-md-reverse">

              <div class="box-md-44 box-xs-100">
                <div class="panel panel-default box-xs-100">
                  <div class="panel-body panel-body-custom">
                    <div>

                      <form class="new_user" id="new_user" action="/login" accept-charset="UTF-8" method="POST">
                        <%if (data && data.error) {%>
                        <div id="signinerror" class="alert alert-danger">
                        <%=data.error%>
                        </div>
                        <%}%>
                        <%if (data && data.message) {%>
                        <div id="signinerror" class="alert alert-success">
                        <%=data.message%>
                        </div>
                        <%}%>
                        <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="/gpz+p9FcwYP8fBJ2VgSlWFgkQsehFfzFQsgcc50FRYx2fFCb9XP5Tjux4riYQEakeslGHnO75upC6T7hfMOgQ==" />

                        <div class="form-group margin-bottom-15px">
                          <label for="user_email">Tên đăng nhập</label>:
                          <input class="form-control" placeholder="Username" autofocus="autofocus" required="required" value="" name="username" id="user_email" />
                        </div>

                        <div class="form-group margin-bottom-15px">
                          <label for="user_password">Mật khẩu</label>:

                          <input class="form-control" placeholder="Password" required="required" type="password" name="userpassword" id="user_password" />
                        </div>

                      <div class="margin-bottom-15px">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-6">
                          <input name="userremember_me" type="hidden" value="0" /><input type="checkbox" value="1" name="userremember_me" id="user_remember_me" />
                          <label for="user_remember_me">Nhớ tài khoản</label>
                          </div>

                          <div class="col-6 col-sm-6 col-md-6">
                            <a id="quenmatkhau" href="" style="color: orange;">Quên mật khẩu?</a><br>
                          </div>
                        </div>
                      </div>
                        <div class="button">
                          <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block round-button">Đăng nhập</button>
                            <input type="button" class="btn btn-success btn-block round-button d-md-none d-xl-none d-lg-none" 
                            value="Đăng ký ngay" onclick="window.location.href='/signin'"/>

                          </div>
                        </div>
                        <hr>
                        <div class="text-center margin-bottom-15px">Hoặc đăng nhập bằng</div><br>

                        <div class="box-container box-space-around margin-bottom-20px">
                          
                            <div class="row">
                              <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-6">
                            <a id="facebook"class="btn btn-block btn-social btn-facebook round-button" href="/auth/facebook">
                              <span class="fa fa-facebook"></span>
                              <font color="white">Facebook</font>
                            </a>  
                              </div>
                              <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-6">
                              <a id="google" class="btn btn-block btn-social btn-google round-button">
                                <span class="fa fa-google"></span>
                                <font color="white">Google</font>
                              </a>  
                            </div>
                            </div>
                          </div>

                          </form>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
            </div>
          </div>
          <div class="col-1 col-sm-1 col-md-3"></div>
        </div>
      </div>

    </div>
    </div>
  </div>
</main><br><br><br>

</body>
</html>