<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Tạo phiên hỏi đáp</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- BODY -->
<body>
  <%- include header %>
  
    <div id="search" class="collapse" style="float: right;">
      <div class="input-group">
    <div class="input-group-append">
        <button class="btn btn-secondary" type="button">Tìm</button>

        <input class="form-control" type="search" placeholder="Nhập vào đây..."></div>


    </div></div>


<!-- Phần giao diện chính
    ================================================== -->
  <main role="main">

    <div id="border_main" class="container marketing">
      <div id="main">

        <h2>Tạo phiên hỏi đáp:</h2>
        <div id="new_post" class="row">
          <div class="col-md-2">
            <div class="thumb" style="background-image:url(./images/soccer.jpg);width: 100px;height: 100px"></div>
          </div>

          <div class="col-md-10">
            <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px;" placeholder="Chủ đề phiên hỏi đáp...">
            <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Mật khẩu">
            <a href="/session">
            <button  type="submit" style="border-radius: 5px; float: right;">Tạo</button>
            </a>
            <br/>
            <textarea placeholder="   Nội dung..." style="width: 100%; border-radius: 5px; height: 75px;"></textarea>
          </div>
        </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <h2>Tạo phiếu khảo sát:</h2>
        <div id="new_post" class="row">
          <div class="col-md-2">
            <div class="thumb" style="background-image:url(./images/soccer.jpg);width: 100px;height: 100px"></div>
          </div>

          <div class="col-md-10">
            <input class="col-md-7" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px;" placeholder="Chủ đề phiếu khảo sát...">
            <input class="col-md-4" type="text" name="topic" style="border-radius: 5px; margin: 0px 10px 10px 0px; width: 31%" placeholder="Mật khẩu">
            <a href="/survey">
            <button  type="submit" style="border-radius: 5px; float: right;">Tạo</button>
            </a>
            <br/>
            <textarea placeholder="   Nội dung..." style="width: 100%; border-radius: 5px; height: 75px;"></textarea>
          </div>
        </div>
    </div>
  </div>
  <%- include update_inf_user %>
  </main>

  <!-- FOOTER -->
  <footer id="footer">
    <ul style="padding: 15px; margin-bottom: 0px;">
      <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>

      <p style="font-size: 12px"> @2019 design by Team 5</p>
    </ul>
  </footer>
</body>
</html>
