<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Thêm câu hỏi khảo sát</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<!-- CSS tự định nghĩa -->
<style type="text/css">
  .nav-pills>a.active, .nav-pills>a:focus, .nav-pills>a:hover {
    cursor: default;
    font-weight: bold;
    background-color: #009999 !important;
    border-bottom: 3px solid #ff0066;
    color: black;
    border-radius: 0px;
  }
  .nav-pills>a {

    font-weight: normal;
    border-bottom: 3px solid #ff0066;
    color: black;
    border-radius: 0px;
  }
</style>

<body style="background-color: #EEEEEE">

  <!-- HEADER -->
  <header>

    <!--Navbars -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a id="logo" class="navbar-brand" href="/home">Q&A</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="margin: 0px 30px" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Trang chủ <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/support">Trợ giúp</a>
          </li>
        </ul>
        
        <form id="search" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <% if (session.username) {%>
        <ul class="navbar-nav" style="display: contents;">
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="./images/icons/bell.jpg" width="40" height="40" style="border-radius: 100%"></a>
          </li>
          <li>
            <div class="thumb" style="background-image:url(./images/soccer.jpg);width: 40px;height: 40px"></div>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: whitesmoke" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=session.name%> </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/yourprofile">Quản lý tài khoản</a>
              <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
          </ul>
          <%} else {%>
          <ul class="navbar-nav" style="display: contents;">
            <li class="nav-item">
              <a class="nav-link" href="/login"><Đăng nhập</a>
            </li>
          </ul>
          <%}%>
        </div>
      </nav>
    </header>
    <main role="main">

      <div class="container marketing">

       <div class="container" style="margin-top: 50px;">
        <form action="/survey_question"  method="POST">
          <div class="row">
                 <div class="col-4 col-sm-4 col-md-3 col-xl-3 col-lg-3 text-right">
                  <br>
                  <label for="InputName" class="col-form-label">Tên phiếu khảo sát: </label>
                </div>
                <div class="col-7 col-sm-7 col-md-8 col-xl-8 col-lg-8">
                  <textarea name="name" rows="2" class="col-12 col-sm-12 col-md-12" style="border-radius: 5px; margin: 10px;" placeholder="Nhập vào đây..." ></textarea>
                </div>             
          </div><br>
          <div class="row">
                 <div class="col-4 col-sm-4 col-md-3 col-xl-3 col-lg-3 text-right">
                  <br>
                  <label for="InputName" class="col-form-label">Mô tả khảo sát: </label>
                </div>
                <div class="col-7 col-sm-7 col-md-8 col-xl-8 col-lg-8">
                  <textarea name="description" rows="3" class="col-12 col-sm-12 col-md-12" style="border-radius: 5px; margin: 10px;" placeholder="Nhập vào đây..." ></textarea>
                </div>             
          </div><br>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 text-right">
                  <label for="InputName" class="col-form-label">Ngày bắt đầu: </label>
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                  <input type="date" name="date_begin" class="form-control" id="InputName" >
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-xl-4 col-lg-4 text-right">
                  <label for="InputName" class="col-form-label">Ngày kết thúc: </label>
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                  <input type="date" name="date_end" class="form-control" id="InputName" >
                </div>
              </div>
            </div>
          </div><br>


          <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link active" data-toggle="tab" href="#tn1">Trắc nghiệm</a>
            <a class="nav-item nav-link"  data-toggle="tab" href="#tn3">Đúng/sai</a>
            <a class="nav-item nav-link"  data-toggle="tab" href="#tl4">Tự luận</a>
          </nav>


          <!-- Nội dung các tabs-->
          <div class="tab-content">

            <div id="tn1" class="tab-pane active">

              <div class="row post" style="margin-top: 20px;">
               <input  type="number" name="topic"  style="border-radius: 5px; margin: 10px; width: 50%;padding: 5px;" placeholder="Số câu hỏi" onblur="socauhoi(this.value);">
               <div style="border-radius: 5px; margin: 10px; width: 40%;padding: 5px;">

                 <select class="form-control" id="sel1">
                  <option>Một đáp án</option>
                  <option>Nhiều đáp án</option>
                </select>
              </div>
              <div class="card card-body">
                <div class="accordion" id="accordionExampleTN1">
                  <div class="card" >
                    <div class="card-header" id="headingOneTN1">
                     <p style="margin-left: 10px;">
                      Câu hỏi 1:
                    </p>
                  </div>

                  <div  data-parent="#accordionExampleTN1">
                    <div class="card-body">
                      <textarea name="topic" rows="2" class="col-sm-12" style="border-radius: 5px; margin: 10px; padding: 5px;" placeholder="Nội dung câu hỏi..." ></textarea>
                      <input  type="number" name="1" style="border-radius: 5px; margin:  10px; width: 31%;padding: 5px;" placeholder="Số đáp án" onblur="sodapan(this);">
                      <div id="dapan1" style="width: 90%;"></div>

                    </div>
                  </div>
                </div>
              </div><br>
              <div id="cauhoi" style="width: 100%;"></div>
              <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
              </button>
            </div>
          </div>
        </div>



        <div id="tn3" class="tab-pane tab-panel fade">

          <div class="row post" style="margin-top: 20px;">
            <input  type="text" name="topic" style="border-radius: 5px; margin: 10px; width: 70%;padding: 5px;" placeholder="Số câu hỏi" onblur="socauhoi2(this.value);">
            <div class="card card-body" style="width: 100%">
              <div class="accordion" id="accordionExampleTN3">
                <div class="card" >
                  <div class="card-header" id="headingOneTN3">

                    <p style="margin-left: 10px;">
                      Câu hỏi 1:
                    </p>
                  </div>

                  <div aria-labelledby="headingOneTN3" >
                    <div class="card-body">
                     <textarea name="topic" rows="2" class="col-sm-12" style="border-radius: 5px; margin: 10px; padding: 5px;" placeholder="Nội dung câu hỏi..." ></textarea>
                     <input type="radio" name="answer" style="border-radius: 5px; margin: 0px 10px 10px 10px;" value="true">Đúng
                     <input type="radio" name="answer" style="border-radius: 5px; margin: 0px 10px 10px 10px;" value="flase">Sai
                   </div>
                 </div>
               </div>

             </div><br>
             <div id="cauhoi2" style="width: 100%;"></div>
             <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
             </button>
           </div>
         </div>
       </div>



       <div id="tl4" class="tab-pane tab-panel fade">
        <div class="row post" style="margin-top: 20px;">
          <input  type="text" name="topic" style="border-radius: 5px; margin: 10px; width: 70%;padding: 5px;" placeholder="Số câu hỏi" onblur="socauhoi3(this.value);">
          <div class="card card-body" style="width: 100%">
            <div class="accordion" id="accordionExampleTN4">
              <div class="card" >
                <div class="card-header" id="headingOne4">

                  <p style="margin-left: 10px;" >
                    Câu hỏi 1:
                  </p>

                </div>
                <div data-parent="#accordionExampleTN4">
                  <div class="card-body">
                    <textarea name="topic" rows="2" class="col-sm-12" style="border-radius: 5px; margin: 10px; padding: 5px;" placeholder="Nội dung câu hỏi..." ></textarea>
                  </div>
                </div>
              </div>
            </div><br>
            <div id="cauhoi3" style="width: 100%;"></div>
            <button type="submit" style="border-radius: 5px; float: right; ">Cập nhật
            </button>
          </div>
        </div>

      </div>
    </div>         
  </form>      

</div>   
<p style="padding-top: 50px; float: right;"><a href="#">Back to top</a></p>
</div>
</main>        
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>

    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer> 
</body>
<script type="text/javascript">
  function sodapan(sodapan){
    var i=0;
    var num=sodapan.value;
    var dapan="<input type='text' class='col-sm-12' style='border-radius: 5px; margin:  10px; padding: 5px;' placeholder='Đáp án' />"
    var code="";
    for(i=0;i<num;i++){
      code+=dapan;
    }
    var key = sodapan.name;
    console.log(key);
    console.log(num);
    var res="dapan"+key;
    document.getElementById(res).innerHTML=code;

  }
  function socauhoi(num){
    var i=0;
    var cauhoi="<div class='card card-body'> <div class='accordion' id='accordionExampleTN1'><div class='card' ><div class='card-header' id='headingOneTN1'><p style='margin-left: 10px;'> Câu hỏi "
    var cauhoi2=":</p></div><div  data-parent='#accordionExampleTN1'><div class='card-body'><textarea name='topic' rows='2' class='col-sm-12' style='border-radius: 5px; margin: 10px; padding: 5px;' placeholder='Nội dung câu hỏi...' ></textarea><input  type='text' name='"
    var cauhoi3="' style='border-radius: 5px; margin:  10px; width: 31%;padding: 5px;' placeholder='Số đáp án' onblur='sodapan(this);'><div id='dapan";
    var cauhoi4="' style='width: 90%;'></div></div></div></div></div><br></div>";
    var code="";
    for(i=1;i<num;i++){
      var t=i+1;
      code+=cauhoi+t+cauhoi2+t+cauhoi3+t+cauhoi4;
    }
    document.getElementById('cauhoi').innerHTML=code;


  }
  function socauhoi2(num){
    var i=0;
    var cauhoi= ' <div class="card card-body" style="width: 100%"><div class="accordion" id="accordionExampleTN3"><div class="card" ><div class="card-header" id="headingOneTN3"><p style="margin-left: 10px;">Câu hỏi ';
    var cauhoi2=':</p></div><div aria-labelledby="headingOneTN3" ><div class="card-body"><textarea name="topic" rows="2" class="col-sm-12" style="border-radius: 5px; margin: 10px; padding: 5px;" placeholder="Nội dung câu hỏi..." ></textarea><input type="radio" name="answer" style="border-radius: 5px; margin: 0px 10px 10px 10px;" value="true">Đúng<input type="radio" name="answer" style="border-radius: 5px; margin: 0px 10px 10px 10px;" value="flase">Sai</div> </div></div></div></div>';
    var code="";
    for(i=1;i<num;i++){
      var t=i+1;
      code+=cauhoi+(t)+cauhoi2;
    }
    document.getElementById('cauhoi2').innerHTML=code;


  }
  function socauhoi3(num){
    var i=0;
    var cauhoi='<div class="card card-body" style="width: 100%"><div class="accordion" id="accordionExampleTN4"><div class="card" ><div class="card-header" id="headingOne4"><p style="margin-left: 10px;" >Câu hỏi ';
    var cauhoi2=':</p></div><div data-parent="#accordionExampleTN4"><div class="card-body"><textarea name="topic" rows="2" class="col-sm-12" style="border-radius: 5px; margin: 10px; padding: 5px;" placeholder="Nội dung câu hỏi..." ></textarea></div></div></div></div><br><div id="cauhoi3" style="width: 100%;"></div></div>';
    var code="";
    for(i=1;i<num;i++){
      var t=i+1;
      code+=cauhoi+(t)+cauhoi2;
    }
    document.getElementById('cauhoi3').innerHTML=code;

  }
</script>
</html>