<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Cần thiết cho 1 web -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="/index&manage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Thêm câu hỏi khảo sát</title>

  <!-- Thư viện online cho Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src = "https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>


<!-- CSS tự định nghĩa -->
<style type="text/css">
  .nav-pills>a.active, .nav-pills>a:focus, .nav-pills>a:hover {
    cursor: default;
    font-weight: bold;
    background-color: #009999 !important;
    border-bottom: 3px solid #ff0066;
    color: black;
    border-radius: 0px;
  }
  .nav-pills>a {

    font-weight: normal;
    border-bottom: 3px solid #ff0066;
    color: black;
    border-radius: 0px;
  }
</style>

<body style="background-color: #EEEEEE">

  <%- include header %>
  
    <main role="main">

      <div class="container marketing">

       <div class="container" style="margin-top: 50px; background-color: white;border-radius: 35px;">
        <form action="/createsurvey"  method="POST">
          <div >
                 <div >
                  <br>
                  <label for="title" class="col-form-label">
                    <h3>Tên phiếu khảo sát </h3></label>
                </div>
                <div >
                  <input type="text" name="title" class="form-control"    style="width:90%;border-radius: 5px; margin: 15px;padding: 5px;" placeholder="Tiêu đề phiếu khảo sát" required >
                </div>
          </div>
          <div >
                 <div >
                  <label for="description" class="col-form-label"><h4>Mô tả khảo sát</h4> </label>
                </div>
                <div >
                  <textarea name="description" rows="3" style="padding: 5px; border-radius: 5px; margin: 15px;width: 90%;" placeholder="Mô tả, Giới thiệu phiếu khảo sát của bạn" required ></textarea>
                </div>
          </div><br>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-xl-3 col-lg-3 text-right">
                  <label for="date_begin" class="col-form-label">Ngày bắt đầu: </label>
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                  <input type="date" name="date_begin" class="form-control" id="date1" onblur="check();" disabled>
                  <script>var now = new Date();

                      var day = ("0" + now.getDate()).slice(-2);
                      var month = ("0" + (now.getMonth() + 1)).slice(-2);

                      var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

                      $('#date1').val(today);</script>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-xl-3 col-lg-3 text-right">
                  <label for="date_end" class="col-form-label">Ngày kết thúc: </label>
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-xl-7 col-lg-7">
                  <input type="date" name="date_end" class="form-control" onblur="check();" id="date2" required >
                </div>
              </div>
            </div>
            <button type="submit" name="submit" class="btn btn-primary" style="margin-top: 30px;margin-left: 40%;">Tạo phiếu khảo sát</button>
          </div><br>
</div>
<p style="padding-top: 50px; float: right;"><a href="#">Back to top</a></p>
</div>
<%- include update_inf_user %>
</main>
<footer id="footer">
  <ul style="padding: 15px; margin-bottom: 0px;">
    <h2 style="padding-bottom: 0px;text-decoration: none;">Hệ thống hỏi - đáp Q&A</h2>

    <p style="font-size: 12px"> @2019 design by Team 5</p>
  </ul>
</footer>
</body>
<script type="text/javascript">
  function check(){
    var date1 = new Date();
    var date2 = new Date(document.getElementById('date2').value);

    if(date2-date1>0){

    }
    else if(document.getElementById('date2').value==""){

    }

    else{
      alert("Thời gian không đúng rồi kìa!!!");

      document.getElementById('date2').value="";
      return false;
    }
  }

</script>
</html>
