<!-- Cập nhật tài khoản -->
        <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UserModalLabel">Tài khoản: <%=session.name%></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form method="POST" action="/yourprofile?id=<%=session.user_id%>">

                  <div class="form-group">
                    <label for="InputUserName">Họ tên:</label>
                    <input type="text" name="newname" class="form-control" id="InputUserName" aria-describedby="Username" value="<%=session.name%>" required>

                  </div>

                  <div class="form-group">
                    <label for="InputPassword">Mật khẩu mới:</label>
                    <input type="password" hidden="on" >
                    <input type="password" name="newpass" class="form-control" id="InputPassword" placeholder="" required>
                  </div>

                  <div class="form-group">
                    <label for="InputRePassword">Nhập lại mật khẩu mới:</label>
                    <input type="password" name="newrepass" class="form-control" id="InputRePassword" onblur="javascript: checkpass()" placeholder="" required>
                  </div>
                  <div class="modal-footer">
                <button type="submit" class="btn btn-success" >Cập nhật</button>

              </div>

                </form>
              </div>

              
            </div>
          </div>
        </div>